.aboutContainer {
    background-image: url('/animecollage5.jpg'); /* Use the image from public folder */
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Cover the entire viewport height */
    color: white; /* Set text color for readability */
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .section {
    background-color: rgba(0, 0, 0, 0.834);
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    text-align: center; /* Center the text */
    width: 80%; /* Limit width of section */
    max-width: 800px; /* Set a max width */
  }
  
  /* .section ul {
    list-style-type: none;
  } */

  .section ul {
    list-style-type: disc;
    list-style-position: outside; /* Change to outside */
    padding-left: 20px; /* Add padding */
    text-align: left; /* Change text-align */
    display: inline-block; /* Add display: inline-block; */
  }
  
  .contactLink {
    color: skyblue;
    text-decoration: underline;
  }