    .mangaContainer {
        background-color: rgb(0, 0, 0);
        padding: 20px;
        min-height: 100vh;
    }

    .letterButtons {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .letterButton {
        margin: 5px;
        padding: 5px 10px;
        cursor: pointer;
        background-color: #ffffff;
        border: 3px solid #f200ff;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        color: black;
        font-weight: bold;
        font-size: 1em;
    }

    .letterButton:hover {
        background-color: #686868;
    }

    /* .mangaGroups {} */


    .mangaGroup {
        margin-bottom: 20px;
    }

    .letterHeader {
        margin-bottom: 10px;
    }

    .mangaList {
        list-style: none; /* Remove default list styles */
        padding: 0;
    }

    .mangaItem {
        padding: 8px 12px;
        border-bottom: 1px solid #686868;
        transition: background-color 0.3s ease;
    }

    .mangaItem:last-child {
        border-bottom: none;
    }

    .mangaItem:hover {
        background-color: #656565;
    }